{% extends "core/base.html" %}

{% block content %}
{% load widget_tweaks %}
{% load static %}
    <div class="login-dark">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{field|add_class:"form-control"}}
                {{ field.errors }}
            </div>
            {% endfor %}

            <div class="form-group"><button class="btn btn-primary btn-block">Entrar</button>
            </div><a class="forgot" href="{% url 'accounts:register' %}">Não é cadastrado?</a><br>
            <a class="forgot" href="{% url 'accounts:password_reset' %}">Esqueceu sua senha?</a>
        </form>
    </div>


{% endblock %}
