{% extends "core/base.html" %}

{% block content %}
{% load widget_tweaks %}
{% load static %}

    <div class="login-dark">
        <form method="post">
            <h5 color="red">Informe seus dados</h5>
            {% csrf_token %}
            {{ form.non_field_errors }}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"></div>
            {% for field in form %}
            <div class="form-group">

                {{ field.label_tag }}
                {{field|add_class:"form-control"}}
                {{ field.errors }}
            </div>
            {% endfor %}

            <div class="form-group"><button class="btn btn-primary btn-block">Cadastrar</button>
            </div>
        </form>
    </div>

{% endblock %}